alacritty
configstore
fontforge/plugin
gh
gh-copilot
github-copilot
iterm2
neofetch
op
sanity
yarn/global
raycast
karabiner.backup.edn
Lumina/.sentry-database
Lumina
zed/embeddings
zed/prompts
zed/.tmp*
.DS_Store
htop
zed/conversations
zed/themes
karabiner/karabiner.json
karabiner/automatic_backups
